/*
Theme Name: Журнал Авто-Брокер
Theme URI: https://a-b63.ru/
Author: Wayfinder
Author URI: https://luway.ru/
Description: Тема для сайта журнала компании Авто-Брокер
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

@media (max-width: 991px) {
	body.admin-bar .header .header__mobile {
		top: 32px;
	}
	body.admin-bar .mmenu {
		top: 32px;
	}
	body.admin-bar .mmenu .mmenu__menu {
		max-height: calc(100vh - 60px - 32px);
	}
}
@media (max-width: 782px) {
	body.admin-bar .header .header__mobile {
		top: 46px;
	}
	body.admin-bar .mmenu {
		top: 46px;
	}
	body.admin-bar .mmenu .mmenu__menu {
		max-height: calc(100vh - 60px - 46px);
	}
}
@media (max-width: 600px) {
	#wpadminbar {
    	position: fixed;
	}
}

#jheader .jheader__bottom ul li a {
    font-size: 19px;
    white-space: nowrap;
}
@media (max-width: 1279px) {
    #jheader .jheader__bottom ul li a {
        font-size: 15px;
    }
}

.hamburger-box {
	margin: auto;
}
.header .header__center .header__center-counter a {
	color: inherit;
	font-size: 36px;
    font-weight: 600;
}
.header .header__bottom .header__bottom-buttons ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.header .header__bottom .header__bottom-buttons ul li .btn {
	width: 280px;
}
.header .header__bottom .header__bottom-buttons ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 7px;
    top: calc(100% + 15px);
    width: 260px;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0 4px 25px rgba(0,0,0,.15);
    border-radius: 3px;
    transition: visibility .35s ease-in-out,opacity .35s ease-in-out;
}
.header .header__bottom .header__bottom-buttons ul li:hover ul {
	visibility: visible;
	opacity: 1;
}
.header .header__bottom .header__bottom-buttons ul li ul li a {
    padding: 10px 20px;
    font-size: 15px;
    line-height: 20px;
    display: block;
}
.header .header__bottom .header__bottom-buttons ul li ul li:hover a {
    background-color: #ececec;
}
@media (max-width: 1279px) {
	.header .header__bottom .header__bottom-buttons ul li .btn {
		width: 240px;
	}
}

.ya-share2__container a {
	border: none;
}
.main .ya-share2__list {
	margin: 0;
}